@import "../variables/breakpoints";

.watch {
  padding-top: 16px;

  .info {
    padding: var(--sm) 0px;

    .row {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;

      .title{
        display: flex;
      }
    }

    .edit {
      display: flex;

      margin-left: var(--md);

      img {
        cursor: pointer;
        width: var(--md);

        filter: var(--filter-text-color-dark);

        &:first-child {
          margin-right: var(--md);
        }
        &:hover {
          filter: var(--filter-text-color);
        }
      }
    }
  }
}