.search-bar {
    padding-left: 35px;
    margin: var(--lg) 0px;
    color:#D3D3D3;
    
    background-image: url(/icons/search.svg);
    background-position: 10px 9px;
    background-repeat: no-repeat;
    background-color: #2d2d30;
}

.search-bar::placeholder {
    color: #D3D3D3;
    font-family: "Poppins", sans-serif;
}